@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import 'theme';

:host {
  display: block;
  font-family: $main-font;
  font-size: $font-size-ref;
}

.bw_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.bw_card {
  display: flex;
  align-items: center;
  padding: 0;
  width: 80%;
  height: 100%;
  max-width: 700px;
  background: $bg-color-1;
  background: -webkit-linear-gradient(to right, $bg-color-2, $bg-color-1);
  background: linear-gradient(to right, $bg-color-2, $bg-color-1);
  box-shadow: 2px 2px 15px 0px #00000050;
  color: $text-color;
  border-radius: 30px;
  overflow: hidden;
}

.bw_card-image {
  display: flex;
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding: 1em 0 1em 3em;
}

.bw_card-image-img {
  height: 85%;
  max-width: 80%;
  object-fit: contain;
  object-position: center center;
}

.bw_card-content {
  flex: 1 1 75%;
  height: 100%;
  overflow: auto;
  padding: 1em 3em 1em 3em;
}

.bw_card-title {
  margin: 1em 0 0 0;
  color: $text-color;
  font-size: 2em;
  font-weight: bold;
}

.bw_card-tagline {
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
}

.bw_card-description {
  line-height: 1.75;
}

.bw_card-figures {
  margin: 1.5em 0;
}

.bw_card-figure {
  display: inline-block;
  background-color: $accent-color;
  border-radius: 15px;
  margin-right: 1em;
  padding: 0.75em 0.5em;
  min-width: 75px;
  font-size: 0.8em;
}

.bw_card-figure-label {
  text-align: center;
  letter-spacing: 2px;
  opacity: 0.75;
}

.bw_card-figure-value {
  font-size: 1.75em;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.bw_card-pairing-title {
  font-weight: bold;
}

.bw_ward-pairing-list {
  margin: 0.5em 0;
  padding-left: 1.25em;
}

.bw_card-pairing-item {
  line-height: 1.75;
}

.bw_spinner {
  width: 3em;
  height: 3em;
  border: solid 1px $text-color;
  border-top: solid 1px $accent-color;
  border-radius: 50%;
  animation: spinner 750ms linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
