@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

$accent-color: #95b9fd;
$text-color: #36393d;
$bg-color-1: #e0eafc;
$bg-color-2: #cfdef3;
$main-font: 'Roboto', sans-serif;
$font-size-ref: 0.9rem;
